<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %} - My Cinema</title>
    <link rel="icon" href="{{ base_url('static/favicon.ico') }}">
    {% block page_stylesheets %}
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <style type="text/css">
            body {
                background: url({{ base_url('static/bg.png') }}) no-repeat center center fixed;
                background-size: cover;
            }

            main {
                padding-top: 5em;
            }

            .site-logo {
                margin-right: 1.5em !important;
            }
        </style>
    {% endblock %}
</head>
<body>
<header>
    {% block page_header %}
        {% include 'cinema/layout/header.twig' %}
    {% endblock %}
</header>
<main>
    {% block page_content %}{% endblock %}
</main>
<footer>
    {% block page_footer %}{% endblock %}
    <script src="//code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="{{ base_url('static/jaquettes.js') }}"></script>
    <script>
        $('.ui.dropdown').dropdown();
    </script>
</footer>
</body>
</html>